<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://www.twitch.tv/fiercepanther" class="fa fa-twitch"><span class="social social-twitch"> Twitch.tv </span></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> Widgets <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/follower_count">Current Follower Count</a></li>
            <li><a href="/recent_followers">Recent Followers</a></li>
            <li class="divider"></li>
            <li><a href="#"> TBD - Donations </a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li class="navbar-right">-->
        <a href="https://www.twitter.com/fiercepanther" class="fa fa-twitter"><span class="social social-twitter"></span></a>
        <a href="https://www.instagram.com/panthros" class="fa fa-instagram"><span class="social social-instagram"></span></a>
      <!--</li>-->
    </ul>
  </div>
</nav>
